.cart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
}


.cart-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart-item {
  display: flex;
  gap: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background: #fff;
  justify-content: center;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.cart-controls {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
}

.cart-controls button {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: none;
  background-color: green;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  max-width: 600px;
}
