.hero {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
  
  .hero--overlay {
    background-image: url("/assets/grab-bag.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
  }
  
  .hero--overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2); 
    z-index: 1;
  }
  

  .hero__content {
      background-color: rgba(0, 0, 0, 0.65); 
      padding: 2rem;
      border-radius: 12px;
      max-width: 600px;
      margin-left: auto; 
      margin-right: 2rem; 
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      color: white;
      position: relative;
      z-index: 2;
      text-align: right;
    }
  
  .hero__content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero__content p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 0.75rem;
  }
  
  .hero__content span {
    font-weight: bold;
    color: #2c5ce0;
  }
  
  .hero__content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero__button {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }