html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #f5f5f5;
  font-size: 0.875rem;
}

.skiplink {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
  
.skiplink:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  background: #000;
  color: #fff;
  padding: 1rem;
  z-index: 1000;
}

.btn-regular {
  padding: 0.5rem 1rem;
  margin: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: max-content;
  display:flex;
  justify-content: flex-end;
}

.btn-regular:hover {
  background-color: bisque;
  color: black;
}

.btn-add {
  padding: 0.5rem 1rem;
  margin: 20px auto; 
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: max-content;
  display: block;
}

.btn-add:hover {
  background-color: bisque;
  color: black;
}
