/* Styling for div and grid setup */
#homepage {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
  "header header"
  "local-menu main"
  "footer footer";
}

/* Styling for header */
header {
  grid-area: header;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: plum;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header ul li {
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

header ul li a {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

header ul li a:hover {
  background-color: rebeccapurple;
  color: white;
}

/* Styling for .local-menu */
nav.local-menu {
  grid-area: local-menu;
  background-color: pink;
  box-sizing: border-box;
  border-right: 1px solid black;
}

nav.local-menu ul {
  list-style: none;
  display: table-row;
}

nav.local-menu ul li {
  padding: 10px;
  margin: 15px;
  margin-right: 0;
}

nav.local-menu ul li:hover {
  background-color: plum;
}

/* Styling for main */
main {
  grid-area: main;
  background-color: pink;
  box-sizing: border-box;
  padding: 10px;
}

/* Styling for footer */
footer {
  grid-area: footer;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  background-color: plum;
}
